<!-- Holds the logo -->
<div class="logoBar">
	<img alt="Logo" src="oriental.svg" />
	<p>Kung Pow</p>
</div>

<!-- Holds the company names, call button, etc. -->
<div class="battleStage">

</div>

<!-- holds the chat -->
<div class="chatWrapper">
	<!-- Chat posts -->
	<div class="posts">
		<div class="postBox" scroll-glue="glued">
			<chat-box ng-repeat="post in postList track by $index"></chat-box>
		</div>
	</div>
	<!-- Chat controls (send/options button, Twitch emojis, etc.) -->
	<div class="inputs">
		<input ng-model="inputMessage" type="text" class="chatInput" placeholder="{{inputPlaceholder}}" ng-keydown="$event.which === 13 && addPost()"/>
		<div class="sendButton inputButton" ng-click="addPost()">
			<img alt="Send" src="send.svg" />
		</div>
		<div class="optionsButton inputButton" ng-click="toggleOptions()">
			<img alt="Options" src="options.png" />
		</div>
		<input ng-model="inputUsername" type="text" class="usernameInput" placeholder="What's your name?" />
		<div class="avatarButton inputButton" ng-click="changeAvatar()">
			<img alt="Change Avatar" src="avatar.svg" />
		</div>
	</div>
</div>	
