
.notSelf {
	text-align: left;
	float: left;
}

.self {
	text-align: right;
	float: right;
}

.postContainer {
	width: 100%;
	height: auto;
	margin-top: 10px;
	margin-right: 10px;
}

.avatar {
	height: 71px;
    width: 71px;
}

.postContentContainer {
	width: calc(100% - 115px);
	height: auto;
	background-color: white;
	border-radius: 10px;
	border: 2px solid #464646;
	padding: 10px;
}

.postContentContainer.self {
	margin-right: 8px;
}

.postContentContainer.notSelf {
	margin-left: 8px;
}

.postNameArea {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #464646;
}

.postName {
	line-height: 22px;
	color: #e74c3c;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
}

.postDate {
	color: #bdc3c7;
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
    margin-top: 4px;
}

.postContentArea {
	text-align: left;
	margin-top: 30px;
}

.postContent {
	color: #464646;
	font-family: 'PT Sans', sans-serif;
}