/*
	Resets and global styles because reset.css won't load for some reason...
*/
@font-face {
	font-family: oriental;
	src: url('SEVESBRG.TTF');
}

* {
	margin: 0;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #e74c3c; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

html, body {
    min-width: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #eee;
    margin: 0px;
    padding: 0px;
}

title {
    font-size: 2rem;
}

sub-title {
    font-size: 1rem;
}

/*
	Styles the div containing the ng-view 
*/
.appWrapper {
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

/*
	Styles the logo bar including the text, image, and container 
*/
.logoBar {
	width: 100%;
	height: 55px;
	background-color: #e74c3c;
}

.logoBar > p {
	color: white;
	float: left;
	font-family: 'oriental';
	font-size: 45px;
    margin-top: 8px;
    margin-left: 8px;
}

.logoBar > img {
	height: 45px;
	filter: invert();
	-webkit-filter: invert();
	float: left;
	margin-top: 4px;
	margin-left: 10px;
}

/*
	Styles the battle stage containing the 'initiate call' button, the 
	company logos, names, votes, etc. 
*/
.battleStage {
	height: calc(100% - 55px);
	width: 60%;
	float: left;
	border-right: 3px dashed #464646;
}

/*
	Styles the chat client; including the output area, input control area, etc.
*/
.chatWrapper {
	height: calc(100% - 55px);
	width: calc(40% - 3px);
	float: left;
}

.posts {
	width: 100%;
	height: 84.5%;
	border-bottom: 3px dashed #464646;
	padding: 25px;
	transition: height 0.5s ease;
	-webkit-transition: height 0.5s ease;
}

.postBox {
	width: 93%;
    height: 98%;
    overflow-y: scroll;
}

.inputs {
	width: 100%;
	height: calc(22% - 3px);
}

.chatInput {
    float: left;
    width: calc(100% - 135px);
    margin-top: 10px;
    margin-left: 5px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    color: #464646;
    padding: 5px;
}

.inputButton {
	float: left;
    height: 35px;
    width: 35px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #e74c3c;
    cursor: hand;
    cursor: pointer;
    padding: 5px;
}

.inputButton > img {
	height: 100%;
	width: 100%;
    filter: invert();
    -webkit-filter: invert();
}

.inputButton:hover {
	filter: brightness(1.2);
	-webkit-filter: brightness(1.2);
}

.inputButton:active {
	filter: brightness(1.4);
	-webkit-filter: brightness(1.4);
}

.usernameInput {
	float: left;
    width: calc(100% - 80px);
    margin-top: 10px;
    margin-left: 5px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    color: #464646;
    padding: 5px;
}